@import "tailwindcss";

:root {
  --basecolor: #1FD85D;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.text-basecolor {
  color: var(--basecolor);
}
.basecolor {
  background-color: var(--basecolor);
}
